@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: NotoSansCJKKR;
  }

  td,
  th {
    padding: 0;
  }

  /* scrollbar */
  /* ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[10px] bg-custom-form-bg border-2 border-solid border-transparent bg-clip-padding;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  } */
}

@font-face {
  font-family: NotoSansCJKKR;
  src: local(NotoSansCJKKR-Regular),
    url(/path/to/NotoSansCJKKR-Regular.woff2) format("woff2"),
    url(/path/to/NotoSansCJKKR-Regular.woff) format("woff"),
    url(/path/to/NotoSansCJKKR-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansCJKKR;
  src: local(NotoSansCJKKR-Medium),
    url(/path/to/NotoSansCJKKR-Medium.woff2) format("woff2"),
    url(/path/to/NotoSansCJKKR-Medium.woff) format("woff"),
    url(/path/to/NotoSansCJKKR-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansCJKKR;
  src: local(NotoSansCJKKR-Bold),
    url(/path/to/NotoSansCJKKR-Bold.woff2) format("woff2"),
    url(/path/to/NotoSansCJKKR-Bold.woff) format("woff"),
    url(/path/to/NotoSansCJKKR-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
