@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    font-family: NotoSansCJKKR;
    white-space: nowrap;
    /* overflow: hidden; */
  }

  td,
  th {
    padding: 0;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    @apply rounded-[10px] bg-custom-form-bg bg-clip-padding;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
    border: 1px solid #e0e0e0;
  }
}

@font-face {
  font-family: NotoSansCJKKR;
  src: url(assets/fonts/NotoSansKR-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: NotoSansCJKKR;
  src: url(assets/fonts/NotoSansKR-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: NotoSansCJKKR;
  src: url(assets/fonts/NotoSansKR-Bold.ttf) format("truetype");
  font-weight: 700;
}
